.root {
  display: flex;
  justify-content: space-between;
  margin: 0.5em auto;
  padding: 0.5rem;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.3) 0.1rem 0.1rem 0.3rem 0;
}

.dishName {
  font-size: 20px;
}

.prices {
  font-size: 16px;
}

.ingredients {
  font-size: 12px;
  color: grey;
  text-align: center;
}

.pricesCount {
  text-align: center;
}