.root {
  background-color: black;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.header {
  color: white;
}

.highlighted {
  background-color: #38ff50;
}

.navigation {
  margin-left: 0.5rem;
}