.root {
  margin: 0.5em;

}

.restaurantsList > div {
  padding: 0.5em;
}

.restaurantsList {
  width: auto;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding-top: 0.5em;
}

.restaurantsPanel {
  display: flex;
  justify-content: left;
}

.selectedView {
  width: 50%;
  min-width: fit-content;
}